﻿@section scripts {
	@Scripts.Render("~/bundles/app")
}

<div class="page-header">
	<div class="d-flex">
		<div class="p-2"><h2>Товары</h2></div>
		<div class="ml-auto p-2">
			<button type="button" class="btn btn-success" data-bind="click: addProduct">
				Добавить товар
			</button>
		</div>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Название</th>
			<th>Описание</th>
			<th>Добавлен</th>
			<th>Ячейка</th>
			<th>Резерв</th>
			<th style="width: 186px" />
		</tr>
	</thead>
	<tbody data-bind="foreach: products">
		<tr>
			<td>
				<span data-bind="text: Id" />
			</td>
			<td>
				<span data-bind="text: Name" />
			</td>
			<td>
				<span data-bind="text: Description" />
			</td>
			<td>
				<span data-bind="text: moment(CreateDate).format('DD.MM.YYYY')" />
			</td>
			<td>
				<span data-bind="text: PlaceStorage" />
			</td>
			<td>
				<input type="checkbox" data-bind="checked: Reserved" readonly />
			</td>
			<td>
				<a href="#" data-bind="click: $parent.editProduct">Изменить</a> |
				<a class="text-danger" href="#" data-bind="click: $parent.deleteProduct">Удалить</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="modal fade" data-bind="modal: product" tabindex="-1" role="dialog" aria-hidden="true">
	<form class="modal-dialog" data-bind="submit: $root.saveChanges" role="document" style="max-width: 310px">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Сведения о товаре</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="product-name-input">Название</label>
					<input class="form-control" type="text" id="product-name-input" placeholder="Название товара" data-bind="value: product() && product().Name" required maxlength="512" />
				</div>
				<div class="form-group">
					<label for="product-description-input">Описание</label>
					<textarea class="form-control" id="product-description-input" placeholder="Описание товара" data-bind="value: product() && product().Description" maxlength="1024"></textarea>
				</div>
				<div class="form-group">
					<label for="product-creation_date-input">Дата добавления</label>
					<div class="input-group date">
						<input class="form-control" type="text" id="product-creation_date-input" data-bind="datepicker: product() && product().CreateDate">
					</div>
				</div>
				<div class="form-group">
					<label for="product-place_storage-input">Ячейка, №</label>
					<input class="form-control" type="number" id="product-place_storage-input" placeholder="Номер ячейки хранения" data-bind="value: product() && product().PlaceStorage" min="0" />
				</div>
				<div class="form-group">
					<input type="checkbox" id="product-reserved-input" data-bind="checked: product() && product().Reserved" />
					<label for="product-reserved-input">Зарезервирован</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Сохранить</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
			</div>
		</div>
	</form>
</div>